.Zed3DMapping{
<<<<<<< HEAD
    width: 100%;
    height: 100%;
    background-color: bisque;
=======
    width: 70%;
    height: 100%;
>>>>>>> ac52af9bb4e13df39ec87a0fdf92f08f379b3d07
    position: relative;
}