.Main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 44, 44);
    color: white;
    
}

.Page {
    flex: 1;
}

.SpaceBetweenComponents {
    margin-top: 10px; /* 상단 간격 조절 */
    margin-bottom: 10px; /* 하단 간격 조절 */
}