.Drone3DViewContainer {
  width: 35%;
  height: 100%;
  position: relative;
}
.directionNorth {
  width: 5%;
  height: 5%;
  position: absolute;
  top: 3%;
  left: 50%;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
}

.directionSouth {
  width: 5%;
  height: 5%;
  position: absolute;
  bottom: 3%;
  left: 50%;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
}

.directionWest {
  width: 5%;
  height: 5%;
  position: absolute;
  top: 50%;
  left: 3%;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
}

.directionEast {
  width: 5%;
  height: 5%;
  position: absolute;
  top: 50%;
  right: 3%;
  color: whitesmoke;
  text-align: center;
  font-weight: bold;
}
